// :host ::ng-deep {
//     .p-dropdown {
//         width: 14rem;
//         font-weight: normal;
//     }

//     .department-name {
//         font-size: 1.5rem;
//         font-weight: 700;
//     }

//     .department-list-detail {
//         flex: 1 1 0;
//     }

//     .card {
//         padding: 2rem;
//         box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
//         border-radius: 4px;
//         margin-bottom: 2rem;
//     }

//     .department-grid-item {

//         margin: .5em;
//         border: 1px solid #dee2e6;

//         .department-grid-item-top,
//         .department-grid-item-bottom {
//             display: flex;
//             align-items: center;
//             justify-content: space-between;
//         }

//         img {
//             width: 75%;
//             box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
//             margin: 2rem 0;
//         }

//         .department-grid-item-content {
//             text-align: center;
//         }
//     }

//     @media screen and (max-width: 576px) {
//         :host ::ng-deep .department-list-item {
//             flex-direction: column;
//             align-items: center;

//             img {
//                 width: 75%;
//                 margin: 2rem 0;
//             }

//             .department-list-detail {
//                 text-align: center;
//             }
//         }
//     }

// }

:host ::ng-deep {
    .p-dropdown {
      width: 14rem;
      font-weight: normal;
    }
  
    .department-name {
      font-size: 1.5rem;
      font-weight: 700;
    }
  
    .department-description {
      margin: 0 0 1rem 0;
    }
  
    .department-category-icon {
      vertical-align: middle;
      margin-right: 0.5rem;
    }
  
    .department-category {
      font-weight: 600;
      vertical-align: middle;
    }
  
    .department-list-item {
      display: flex;
      align-items: center;
      padding: 1rem;
      width: 100%;
  
      img {
        width: 150px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        margin-right: 2rem;
      }
  
      .department-list-detail {
        flex: 1 1 0;
      }
  
      .p-rating {
        margin: 0 0 0.5rem 0;
      }
  
      .department-price {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
        align-self: flex-end;
      }
  
      .department-list-action {
        display: flex;
        flex-direction: column;
      }
  
      .p-button {
        margin-bottom: 0.5rem;
      }
    }
  
    .department-grid-item {
      margin: 0.5em;
      border: 1px solid #dee2e6;
  
      .department-grid-item-top,
      .department-grid-item-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
  
      img {
        width: 75%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        margin: 2rem 0;
      }
  
      .department-grid-item-content {
        text-align: center;
      }
  
      .department-price {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
  }
  
  .card {
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 2rem;
  }
  
  @media screen and (max-width: 576px) {
    :host ::ng-deep .department-list-item {
      flex-direction: column;
      align-items: center;
  
      img {
        width: 75%;
        margin: 2rem 0;
      }
  
      .department-list-detail {
        text-align: center;
      }
  
      .department-price {
        align-self: center;
      }
  
      .department-list-action {
        display: flex;
        flex-direction: column;
      }
  
      .department-list-action {
        margin-top: 2rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
    }
  }
  