<div class="card">
    <p-dataView #dv [value]="departments" [paginator]="true" [rows]="9" filterBy="name" layout="grid">
        
        <!-- <ng-template pTemplate="header">
            <span class="p-input-icon-left mb-2 md:mb-0">
                <i class="pi pi-search"></i>
                <input type="search" pInputText placeholder="Search by Name">
            </span>
            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </ng-template> -->



        <ng-template pTemplate="header">
            <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
                <!-- <p-dropdown [options]="sortOptions" placeholder="Sort By Price" (onChange)="onSortChange($event)"></p-dropdown> -->
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Search by Name" >
                </span>	
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </ng-template>



        <ng-template let-department pTemplate="listItem">
            <div class="department-list-item">
                <div class="department-list-detail" >
                    <div class="department-name">{{ department.name }}</div>
                </div>
            </div>
        </ng-template>

        <ng-template let-department pTemplate="gridItem">
            <div class="col-12 md:col-4">
                <div class="department-grid-item card">
                    <div class="department-grid-item-top">
                        
                    </div>
                    <div class="department-grid-item-content">
                        <div class="department-name">{{ department.name }}</div>
                        <div class="department-subtitle">{{ department.subtitle }}</div>
                    </div>
                    <div class="department-grid-item-bottom"></div>
                </div>
            </div>
        </ng-template>

    </p-dataView>
</div>
