<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/department">
        <img  src="assets/demo/images/logo.png" alt="logo">
        <span >Learning Marketplace</span>
    </a>

    <div class="layout-topbar-menu" *ngIf="isLoggedIn()">
        <button class="p-link layout-topbar-button"  routerLink="/department" title="Departments">
            
            <img class="png-icon" src="assets/demo/images/d-icon.png" style="width: 24px; height: 24px;" title="Departments">
            <span>Courses</span>
        </button>

        <button class="p-link layout-topbar-button"  routerLink="/course" title="Courses">
            
            <img class="png-icon" src="assets/demo/images/c-icon.png" style="width: 24px; height: 24px;" title="Courses">
            <span>Courses</span>
        </button>

        <button class="p-link layout-topbar-button" (click)="Logout()" routerLink="login">
            <i class="pi pi-power-off"></i>
            <span>Logout</span>
        </button>
    </div>
</div>