<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<br><br><br>
<div class="grid">
	<div class="col-12">
		<div class="card">
			<h3>Courses</h3>
			<p-dataView #dv [value]="courses" [paginator]="true" [rows]="9" filterBy="name" layout="grid">
				<ng-template pTemplate="header">				
                        <form [formGroup]="search" class="flex flex-column md:flex-row md:justify-content-between gap-2">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input type="text" pInputText placeholder="Search by Name" formControlName="name">
                            </span>
						    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
					    </form>     
						<br>
						<p-button icon="pi pi-plus" label="Create" styleClass="mb-2 p-button-sm" routerLink="/create-course"></p-button>               
				</ng-template>

				<ng-template let-course pTemplate="listItem">
					<div class="col-12">
						<div class="flex flex-column md:flex-row align-items-center p-3 w-full">
							<img [src]="'../../../assets/demo/images/courses/' + course.teaserImage" [alt]="course.reference" class="my-4 md:my-0 w-9 md:w-10rem shadow-2 mr-5"/>
							<div class="flex-1 flex flex-column align-items-center text-center md:text-left">
								<div class="font-bold text-2xl">{{course.title}}</div>
								<div class="mb-2">{{course.subtitle}}</div>

								<div class="flex align-items-center mt-2">
									<i class="pi pi-tag mr-2"></i>
									<span class="font-semibold">{{course.category}}</span>
								</div>
							</div>
							<div class="flex flex-row md:flex-column justify-content-between w-full md:w-auto align-items-center md:align-items-end mt-5 md:mt-0">
								<span class="text-2xl font-semibold mb-2 align-self-center md:align-self-end">${{course.coursePrice}}</span>						
								<p-button [routerLink]="[course.id, 'edit']" icon="pi pi-pencil" styleClass="p-button-success mb-2"></p-button> &nbsp;&nbsp;    
								<p-button  (onClick)="deleteCourse(course.id)" icon="pi pi-trash" styleClass="p-button-danger mb-2"></p-button>
								<span [class]="'product-badge status-' + course.deliveryMethod.toLowerCase()">{{course.deliveryMethod}}</span>
							</div>
						</div>
					</div>
				</ng-template>

				<ng-template let-course pTemplate="gridItem">
					<div class="col-12 md:col-4">
						<div class="card m-3 border-1 surface-border">
							<div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
								<div class="flex align-items-center">
									<i class="pi pi-tag mr-2"></i>
									<span class="font-semibold">{{course.category}}</span>
								</div>
								<span [class]="'product-badge status-' + course.deliveryMethod.toLowerCase()">{{course.deliveryMethod}}</span>
							</div>
							<div class="flex flex-column align-items-center text-center mb-3">
								<img [src]="'../../../assets/demo/images/courses/' + course.teaserImage" [alt]="course.reference" height="170px" width="300px"/>
								<div class="text-2xl font-bold">{{course.title}}</div>
								<div class="mb-3">{{course.subtitle}}</div>
							</div>
							<div class="flex align-items-center justify-content-between">
								<span class="text-2xl font-semibold">${{course.coursePrice}}</span>
								<div class="">
									<p-button [routerLink]="[course.id, 'apply']" icon="pi pi-chevron-circle-right" styleClass="p-button-info mb-2"></p-button> &nbsp;&nbsp;    
									<p-button [routerLink]="[course.id, 'edit']" icon="pi pi-pencil" styleClass="p-button-success mb-2"></p-button> &nbsp;&nbsp;    
									<p-button  (onClick)="confirmDelete(course.id)" icon="pi pi-trash" styleClass="p-button-danger mb-2"></p-button>
								</div>
								
							</div>
						</div>
					</div>
				</ng-template>
			</p-dataView>
		</div>
	</div>
</div>

