

<form [formGroup]="loginForm">
    
    Value : {{ loginForm.value | json }} 

    <hr>
    <br><br>
    <span class="p-float-label">
        <input id="float-input" type="text" formControlName="username" pInputText> 
        <label for="float-input">Username</label>
    </span>
    <br><br>
    <span class="p-float-label">
        <input id="float-input" type="text" formControlName="password" pInputText> 
        <label for="float-input">Password</label>
    </span>
    <!-- <label>UserName</label>
    <input placeholder="username" formControlName="username"> 

    <label>Password</label>
    <input type="password" placeholder="password" formControlName="password"> -->
    <br><br>
    <div>
        <button (click)="login(user)">Login</button>
    </div>

</form>