<div id=app>
  <nav>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create-course">Create Course</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create-department">Create Department</a>
      </li>
    </ul>  
  </nav>
</div>
<router-outlet></router-outlet>