<form [formGroup]="createCourseForm">

    <!-- <br><br>
    <span class="p-float-label">
        <input id="float-input-title" type="text" formControlName="title" pInputText> 
        <label for="float-input">Title</label>
    </span>
    <br><br>
    <span class="p-float-label">
        <input id="float-input-reference" type="text" formControlName="reference" pInputText> 
        <label for="float-input">Reference</label>
    </span>
    <br><br>
    <span class="p-float-label">
        <input id="float-input-subtitle" type="text" formControlName="subtitle" pInputText> 
        <label for="float-input">Subtitle</label>
    </span>
    <br><br>
    <span class="p-float-label">
        <input id="float-input-overview" type="text" formControlName="overview" pInputText> 
        <label for="float-input">Overview</label>
    </span>
    <br><br>
    <span class="p-float-label">
        <input id="float-input-type" type="text" formControlName="type" pInputText> 
        <label for="float-input">Type</label>
    </span>
    <br><br>
    <span class="p-float-label">
        <input id="float-input-coursePrice" type="text" formControlName="coursePrice" pInputText> 
        <label for="float-input">Course Price</label>
    </span>
    <br><br>
    <span class="p-float-label">
        <input id="float-input-category" type="text" formControlName="category" pInputText> 
        <label for="float-input">Category</label>
    </span>
    <br><br>
    <span class="p-float-label">
        <input id="float-input-credits" type="text" formControlName="credits" pInputText> 
        <label for="float-input">Credits</label>
    </span>
    <br><br>
    <span class="p-float-label">
        <input id="float-input-level" type="text" formControlName="level" pInputText> 
        <label for="float-input">Level</label>
    </span>
    <br><br>
    <span class="p-float-label">
        <input id="float-input-deliveryMethod" type="text" formControlName="deliveryMethod" pInputText> 
        <label for="float-input">Delivery Method</label>
    </span>
    <br><br>
    <span class="p-float-label">
        <input id="float-input-status" type="text" formControlName="status" pInputText> 
        <label for="float-input">Status</label>
    </span>
    <br><br>
    <span class="p-float-label">
        <input id="float-input-publishStatus" type="text" formControlName="publishStatus" pInputText> 
        <label for="float-input">Publish Status</label>
    </span>
    <br><br>
    <span class="p-float-label">
        <input id="float-input-publishAt" type="text" formControlName="publishAt" pInputText> 
        <label for="float-input">Publish Status</label>
    </span>
    <br><br>
    <span class="p-float-label">
        <input id="float-input-unpublishAt" type="text" formControlName="unpublishAt" pInputText> 
        <label for="float-input">Unpublish Status</label>
    </span>
    <br><br>
    <span class="p-float-label">
        <input id="float-input-departmentId" type="text" formControlName="departmentId" pInputText> 
        <label for="float-input">Department</label>
    </span>
    <br><br>
    <span class="p-float-label">
        <input id="float-input-trainer" type="text" formControlName="trainer" pInputText> 
        <label for="float-input">Trainer</label>
    </span>
    <br><br>
    <div>
        <button (click)="createCourse()">Create</button>
    </div> -->

    <div class="col-12 md:col-12">
		<div class="card p-fluid">
			<h5>Create Course</h5>
			<div class="field">
				<label htmlFor="title">Title</label>
				<input pInputText id="title" type="text" formControlName="title" />
			</div>
			<div class="field">
                <label htmlFor="reference">Reference</label>
				<input pInputText id="reference" type="text" formControlName="reference"/>
			</div>
            <div class="field">
                <label htmlFor="subtitle">Subtitle</label>
                <input pInputText id="subtitle" type="text" formControlName="subtitle"/>
            </div>
            <div class="field">
				<label htmlFor="overview">Overview</label>
				<input pInputText id="overview" type="text" formControlName="overview"/>
			</div>
            <div class="field">
				<label htmlFor="type">Type</label>
				<input pInputText id="type" type="text" formControlName="type"/>
			</div>
            <div class="field">
				<label htmlFor="coursePrice">Course Price</label>
				<input pInputText id="coursePrice" type="text" formControlName="coursePrice"/>
			</div>
            <div class="field">
				<label htmlFor="category">Category</label>
				<input pInputText id="category" type="text" formControlName="category"/>
			</div>
            <div class="field">
				<label htmlFor="credits">Credits</label>
				<input pInputText id="credits" type="text" formControlName="credits"/>
			</div>
            <div class="field">
				<label htmlFor="level">Level</label>
				<input pInputText id="level" type="text" formControlName="level"/>
			</div>
            <div class="field">
				<label htmlFor="deliveryMethod">Delivery Method</label>
				<input pInputText id="deliveryMethod" type="text" formControlName="deliveryMethod"/>
			</div>
            <div class="field">
				<label htmlFor="status">Status</label>
				<input pInputText id="Status" type="text" formControlName="status"/>
			</div>
            <div class="field">
				<label htmlFor="publishStatus">Publish Status</label>
				<input pInputText id="publishStatus" type="text" formControlName="publishStatus"/>
			</div>
            <div class="field">
				<label htmlFor="publishAt">Publish Date</label>
                <p-calendar [showIcon]="true" inputId="icon" formControlName="publishAt"></p-calendar>
				<!-- <input pInputText id="publishAt" type="text"  formControlName="publishAt"/> -->
			</div>
            <div class="field">
				<label htmlFor="unpublishAt">Unpublish Date</label>
                <p-calendar [showIcon]="true" inputId="icon" formControlName="unpublishAt"></p-calendar>
				<!-- <input pInputText id="unpublishAt" type="text" formControlName="unpublishAt"/> -->
			</div>
            <div class="field">
				<label htmlFor="department">Department</label>
				<input pInputText id="department" type="text" formControlName="departmentId"/>
			</div>
            <div class="field">
				<label htmlFor="trainer">Trainer</label>
				<input pInputText id="trainer" type="text" formControlName="trainerId"/>
			</div>
            <br>
            <button pButton pRipple label="Create" class="w-full p-3 text-xl" (click)="saveCourse()"></button>
            <!-- <button pButton pRipple label="Create" class="w-full p-3 text-xl" (click)="createCourse()" ></button>xxxxx  -->
		</div>
    </div>
</form>
