
<p-toast></p-toast>
<div class="col-12">
        <div class="card" *ngIf="course">
            <br><br><br><br>
            <h1>{{ course.title }}</h1>
            <div class="grid">
                <div class="col-6 align-items-center justify-content-center">
                    <p class="line-height-3 m-0">
                        {{ course.subtitle }}
                    </p>
    
                    <p-divider layout="horizontal" align="left">
                        <span class="p-tag">{{ course.deliveryMethod }}</span>
                    </p-divider>
    
                    <p class="line-height-3 m-0">
                        {{ course.overview }}
                    </p>
    
                    <p-divider align="right">
                        
                    </p-divider>
    
                    
                </div>
                <div class="col-2">
                    <p-divider layout="vertical">
                        
                    </p-divider>
                </div>
                <div class="col-4 flex align-items-center justify-content-center">
                    
                    <!-- <div class="p-fluid">
                        <div class="field">
                            <label for="username">Username</label>
                            <input pInputText id="username" type="text"/>
                        </div>
                        <div class="field">
                            <label for="password">Password</label>
                            <input pInputText id="password" type="password"/>
                        </div>
                        <p-button label="Login" class="mt-2"></p-button>
                    </div> -->
                    <br><br>
                    <p-card header="Price : ${{course.coursePrice}}" subheader="{{course.type}}" [style]="{width: '500px'}" styleClass="p-card-shadow">
                        <ng-template pTemplate="header">
                            <img [src]="'../../../assets/demo/images/courses/' + course.teaserImage" [alt]="course.reference" class="w-9 shadow-2 my-3 mx-0"/>
                        </ng-template>
                        <span class="text-1.5xl font-semibold">
                            Duration<br>
                            {{ course.publishAt | date }} - {{ course.unpublishAt | date }}
                        </span>
                        <ng-template pTemplate="footer">
                            <p-button *ngIf="authService.decodedToken.role == 'Learner'" label="APPLY" (onClick)="saveApplication()" icon="pi pi-send"></p-button>
                            
                        </ng-template>
                    </p-card>
                </div>
            </div>
        </div>
    </div>