<form [formGroup]="createDepartmentForm">

    <br><br>
    <span class="p-float-label">
        <input id="float-input-name" type="text" formControlName="name" pInputText> 
        <label for="float-input">name</label>
    </span>
    <br><br>
    <span class="p-float-label">
        <input id="float-input-subtitle" type="text" formControlName="subtitle" pInputText> 
        <label for="float-input">Subtitle</label>
    </span>
    <br><br>
    <span class="p-float-label">
        <input id="float-input-summary" type="text" formControlName="summary" pInputText> 
        <label for="float-input">Summary</label>
    </span>
    <br><br>
    <span class="p-float-label">
        <input id="float-input-logo" type="text" formControlName="logo" pInputText> 
        <label for="float-input">Logo</label>
    </span>
    <br><br>
    <span class="p-float-label">
        <input id="float-input-backgroundImage" type="text" formControlName="backgroundImage" pInputText> 
        <label for="float-input">Background Image</label>
    </span>
    <br><br>
    <span class="p-float-label">
        <input id="float-input-locationId" type="text" formControlName="locationId" pInputText> 
        <label for="float-input">Location Id</label>
    </span>
    
    <br><br>
    <div>
        <button (click)="createDepartment(department)">Create</button>
    </div>


</form>
