<form [formGroup]="createDepartmentForm" >
    <div class="col-12 md:col-12">
		<div class="card p-fluid">
			<h5>Create Department</h5>
			<div class="field">
				<label htmlFor="name">Name</label>
				<input pInputText id="name" type="text" formControlName="name" />
			</div>
			<div class="field">
				<label htmlFor="subtitle">Subtitle</label>
				<input pInputText id="subtitle" type="text" formControlName="subtitle"/>
			</div>
			<div class="field">
				<label htmlFor="summary">Summary</label>
				<input pInputText id="summary" type="text" formControlName="summary"/>
			</div>
            <div class="field">
				<label htmlFor="logo">Logo</label>
				<input pInputText id="logo" type="text" formControlName="logo"/>
			</div>
            <div class="field">
				<label htmlFor="BackGroundImage">Background Image</label>
				<input pInputText id="backgroundImage" type="text" formControlName="backgroundImage"/>
			</div>
            <div class="field">
				<label htmlFor="locationId">Location Id</label>
				<input pInputText id="locationId" type="text" formControlName="locationId" [defaultValue]="'placeholder'"/>
			</div>
            <br>
            <button pButton pRipple label="Create" class="w-full p-3 text-xl" (click)="createDepartment()" ></button>
		</div>
    </div>
</form>
